html {
    margin:    0 auto;
    max-width: 1920px;}

body {
    font-family: 'Roboto', 'Arial', sans-serif;
}

.hero{
    background-color: #1F2937;
    padding: 20px 175px 20px 175px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header a, .hero-secondary-text {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero-content {
    display: flex;
    margin: 110px 0px 110px 0px;
    gap: 50px;
}

.hero-content-right {
    width: 1000px;
    height: 225px;
    background-color: rgb(71, 70, 74);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    text-align: center;
}




.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0px;
    padding: 0px;
}

.button {
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    padding: 8px 24px;
    font-weight: bold;
    border-radius: 8px;
}

